[submodule "3rdParty/glog"]
	path = 3rdParty/glog
	url = https://github.com/google/glog.git
[submodule "3rdParty/ceres-solver"]
	path = 3rdParty/ceres-solver
	url = https://ceres-solver.googlesource.com/ceres-solver
[submodule "3rdParty/Catch2"]
	path = 3rdParty/Catch2
	url = https://github.com/catchorg/Catch2.git