[submodule "3rdParty/Catch2"]
	path = 3rdParty/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "3rdParty/ColorConverter"]
	path = 3rdParty/ColorConverter
	url = https://github.com/lindemeier/ColorConverter.git
[submodule "3rdParty/cereal"]
	path = 3rdParty/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "3rdParty/cxxopts"]
	path = 3rdParty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
